/* Additional vertical padding used by kbd tag. */
.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.markdown {
  @apply leading-normal text-gray-1000 break-words;
}

.markdown > * + * {
  @apply mt-0 mb-4;
}

.markdown li + li {
  @apply mt-1;
}

.markdown li > p + p {
  @apply mt-6;
}

.markdown strong {
  @apply font-semibold;
}

.markdown a {
  @apply font-semibold text-blue-1-500;
}

.markdown strong a {
  @apply font-bold;
}

.markdown h1 {
  @apply pb-2 mt-6 mb-4 text-4xl font-semibold leading-tight border-b;
}

.markdown h2 {
  @apply pb-2 mt-6 mb-4 text-2xl font-semibold leading-tight border-b;
}

.markdown h3 {
  @apply mt-6 mb-4 text-lg font-semibold leading-snug;
}

.markdown h4 {
  @apply mt-6 mb-4 text-base font-semibold leading-none;
}

.markdown h5 {
  @apply mt-6 mb-4 text-sm font-semibold leading-tight;
}

.markdown h6 {
  @apply mt-6 mb-4 text-sm font-semibold leading-tight text-gray-600;
}

.markdown blockquote {
  @apply pl-4 pr-4 text-base text-gray-600 border-l-4 border-gray-300;
}

.markdown code {
  @apply inline px-1 font-mono text-sm bg-gray-200 rounded py-05;
}

.markdown pre {
  @apply p-4 bg-gray-100 rounded;
}

.markdown pre code {
  @apply block p-0 overflow-visible bg-transparent rounded-none;
}

.markdown ul {
  @apply pl-8 text-base list-disc;
}

.markdown ol {
  @apply pl-8 text-base list-decimal;
}

.markdown kbd {
  @apply inline-block px-1 font-mono text-xs font-normal align-middle border rounded shadow py-05;
}

.markdown table {
  @apply text-base border-gray-600;
}

.markdown th {
  @apply px-3 py-1 border;
}

.markdown td {
  @apply px-3 py-1 border;
}

/* Override pygments style background color. */
.markdown .highlight pre {
  @apply bg-gray-100 !important;
}
