/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* purgecss end ignore */

@import 'tailwindcss/utilities';

/* Wave Content for negative spacing */
.wave-content {
  @apply mb-13;
}

.wave:first-of-type > div > .wave-content {
  margin-top: 4.625rem;
}

.learnable {
  width: 236px;
  height: 370px;
}

.learnable-title {
  @apply text-2xl;
  @apply mt-29;
}

.vision-bg {
  background-image: url('/assets/vision/background.svg');
  background-position: center top;

  @apply bg-no-repeat;
}

.faq-bg {
  background-image: url('/assets/faq/background.svg');
  background-position: center top -13rem;

  @apply bg-no-repeat;
}

@media (min-width: 640px) {
  .wave-content {
    @apply mb-0;
  }

  .wave:not(:first-of-type) > div > .wave-content {
    @apply -mt-30;
  }
}

@media (min-width: 768px) {
  .wave:not(:first-of-type) > div > .wave-content {
    @apply -mt-40;
  }

  .learnable-title {
    @apply text-3xl;
    @apply mt-36;
  }

  .learnable {
    width: 295px;
    height: 461px;
  }
}

@media (min-width: 1024px) {
  .wave:not(:first-of-type) > div > .wave-content {
    @apply -mt-56;
  }

  .wave:first-of-type > div > .wave-content {
    @apply mt-0;
  }

  .faq-bg {
    background-position: center top;

    @apply bg-cover;
  }
}

@media (min-width: 1280px) {
  .wave:not(:first-of-type) > div > .wave-content {
    @apply -mt-74;
  }

  .learnable {
    width: 236px;
    height: 370px;
  }

  .learnable-title {
    @apply text-2xl;
    @apply mt-29;
  }
}

@media (min-width: 1550px) {
  .learnable {
    width: 295px;
    height: 461px;
  }

  .learnable-title {
    @apply text-3xl;
    @apply mt-36;
  }
}
